v\:* {
behavior:url(#default#VML);
}

html, body, #map_canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
  }
body{
	background-color : #00ffcc;
}
#subtitle{
	/*width:500px;*/
	/*height:40px;*/
	/*top:10px;*/
	/*left:0px;*/
	/*position:absolute;*/
	z-index:1;
	visibility:visible;

	color:#0000ff;
	font-size:20px;
	padding-left:10px;
}
#map_canvas{
	clear:float;
	clear:both;

	width:95%;
	height:400px;
	/*top:50px;*/
	/*left:10px;*/
	/*position:absolute;*/
	/*z-index:2;*/
	visibility:visible;

	border: 3px #ffb366 solid;
	float:right;
}
#mapnavi{
	width:98%;
	/*top:50px;*/
	/*top:0px;*/
	/*left:520px;*/
	/*margin-right:10px;*/
	/*margin-left:auto;*/
	/*position:absolute;*/
	/*z-index:6;*/
	/*border:2px solid blue;*/
	visibility:visible;

	padding-left:10px;
	padding-right:10px;

	/*background:white;*/
}
.naviMenu{
	color:#0000ff;
	font-size:14px;
}
#mapnaviMenu-2,#mapnaviMenu-3,#mapnaviMenu-4,#mapnaviMenu-5,#mapnaviMenu-6{
	visibility:hidden;
	display:none;	
}

#explain{
	border:none;
	font-size:10px;
}


#menu_tab{
	width : 100%;
	float:right;
	margin : 0px;
	padding : 0px;
}

#menu_tab li{
	float:left;

	width: 16%;
	margin:0px;
	padding: 10px 0px 10px 0px;
	border: 1px #ffb366 solid;
	background-color: #fffdee;
	text-align: center;
	list-style-type: none;
	font-size:11px;
}

#menu_info,#move_menu,#area_menu,#duge_menu,#appr_menu,#city_menu,#route_menu,#fb_menu{
	clear:both;

	/*padding-left:20px;*/
	display:none;
	visibility:hidden;
}
#footer{
	font-size : 25px;
	color : #ffffff;
	padding-left : 20px;
}
.bt{
	font-size : 0.8em;
	background-color : #ffffff;
}